.app-title {
  display: inline;
  color: rgb(48, 29, 7);
}
.app-title img {
  width: 30px;
  height: 30px;
}
.input-wrapper {
  overflow: display;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.225);
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(243, 227, 209);
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  z-index: 20;
}
.input {
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  border: solid rgb(103, 65, 22) 1px;
}
.input--message {
  resize: none;
  height: 100px;
}
.counter-button-wrapper {
  display: flex;
  align-items: center;
}
.counter {
  color: rgb(134, 105, 68);
}
.button--add-todo {
  margin-left: auto;
  width: max-content;
  background-color: rgb(103, 65, 22);
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  color: rgb(243, 227, 209);
}
